<div class="fullscreen-content">
  <div class="main-container  homepage-img-content">
    <div class="div1">
      <h2 class="mb-4">Building and Designing applications</h2>
      <h3 class="mb-4">That's what I do</h3>
      <section class="mb-4 btn-section">
        <button mat-raised-button color="accent">Discover</button>
        <span class="space"></span>
        <button mat-stroked-button color="accent">Or don't</button>
      </section>
    </div>
  </div>

  <div>
    Hello
  </div>

</div>

